*
!/**/
!*.*
### Above combination will ignore all files without extension ###

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

!makefile
!README
README.md
node_modules/
npm_mod/
*.dylib
*.so
main.dSYM/
*.pdf
*.vcf
!uploads/testCardMin.vcf
!uploads/Examples/invCard/*.vcf
!uploads/Examples/invProp/*.vcf
!uploads/Examples/valid/*.vcf
